body {
  margin: 0;
  font-family: "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text] {
  border: none;
  flex-grow: 1;
}

input[type=text]:focus-visible {
  outline: none;
}